<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Create</title>
</head>
<body>

	<section layout:fragment="content">
		<div class="container py-5">
		

			<div th:if="${message}" class='alert alert-success' th:text="${message}" id="message" role='alert'></div>
		
			<form th:method="POST" th:action="@{/task/create}" th:object="${task}">
				<div class="form-group">
					<label for="name" >Task Name</label>
					<input type="text" class="form-control" name="name" id="name" th:field="*{name}" th:value="*{name}" th:errorclass="is-invalid" >
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback">Name Error</span>
				</div>
				<div class="form-group">
					<label for="description">Description and details</label> 
					<textarea class="form-control" name="description" id="description" rows="6" cols="20" th:field="*{description}" th:value="*{description}" th:errorclass="is-invalid"></textarea>			
					<span th:if="${#fields.hasErrors('description')}" th:text="${#fields.errors('description')[0]}" class="invalid-feedback">Name Error</span>
				</div>
				<button type="submit" class="btn btn-primary float-right">Guardar</button>
			</form>
		
		</div>
	</section>

</body>
</html>