<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>All</title>
</head>
<body>


	<section layout:fragment="content">
        <div class="container d-flex flex-wrap justify-content-left mt-5">
            <div th:each="task : ${list}"  class="card text-white bg-primary m-3" style="width: 20rem;">
                <div class="card-header" >Task</div>
                <div class="card-body">
                  <h4 class="card-title" th:text="${task.name}"></h4>
                  <p class="card-text" th:text="${task.description}"></p>
                  <div class="d-flex">
                      <a th:href="@{/task/detail/{id}(id=${task.id})}" class="btn btn-info btn-sm">Detail</a>
                      <form th:method="DELETE" th:action="@{/task/delete/{id}(id=${task.id})}" class="ml-2" method="post">
                          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                      </form>
                  </div>
                </div>
            </div>
        </div>
	</section>

</body>
</html>